{% extends 'base.html' %}
{% block title %} posts-page {% endblock %}
{% block content %}
<h1>{{post.title}}</h1>
<p>{{post.content}]</p>
<p>By {{user.first_name}} {{user.last_name}}</p>

<button class="btn btn-outline-primary"><a href="/users/{{user.id }}">Cancel</a></button>

<button class="btn btn-primary"><a href="/posts/{{post.id }}/edit">Edit</a></button>
<form action="/posts/{{post.id}}/delete" method="post">
    <input class="btn btn-danger" type="submit" value="Delete">
</form>

{% endblock %}