 {% extends 'base.html' %}

{% block title %} Users_Page {% endblock %}

{% block content %}
<h2 class="col-sm-10 col-12"> {{user.first_name}} {{user.last_name}}</h2>

  <!-- <img src ="{{user.image_url}}">  -->
<div class="row">

    {% if user.image_url %}
    <div class="col-sm-2 col-6">
        <img src="{{ user.image_url }}" class="img-fluid">
    </div>
    {% endif %}

<button><a href="/users/{{user.id }}/edit">Edit</a></button>
<form action="/users/{{user.id}}/delete" method="post">
    <input class="btn btn-danger btn-sm"type="submit" value="Delete">
</form>

<form> 
<button ><a href="/users/{{user.id }}/posts/new">Add Post</a></button>
</form>

{% endblock%} 
 
